<!--Footer-->

 <div class="footer">
    <div class="container">
      <div class"row">
        <div class="col-md-3">
          <img class="img-100" src="/img/logo-white.png">
          <p class="margin-smalltop"><span class="text-teal">En Nimbo X ayudamos a organizaciones médicas a llevar un mejor control de sus operaciones.</span></p>
          <p class="margin-smalltop">Producto de Ecaresoft Inc.<br>
          © 2017 All Rights Reserved.<br>
          Made with ❤ in house.</p>
        </div>
        <div class="col-md-2">
          <p><b>EXPLORA</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Inicio', extensions[:i18n].localized_path('/index.html', I18n.locale) %></li>
            <li class="margin-xstop"><%= link_to 'Producto', extensions[:i18n].localized_path('/modulos.html', I18n.locale) %></li>
            <li class="margin-xstop"><%= link_to 'Precios', extensions[:i18n].localized_path('/precios.html', I18n.locale) %></li>
            <li class="margin-xstop"><a href="https://blog.nimbo-x.com/" target="__blank">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><b>SOLUCIONES</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Doctores', extensions[:i18n].localized_path('/modulos.html', I18n.locale)%></li>
            <li class="margin-xstop"><%= link_to 'Clínicas', extensions[:i18n].localized_path('/clinicas.html', I18n.locale) %></li>
            <li class="margin-xstop"><%= link_to 'Farmacias', extensions[:i18n].localized_path('/farmacias.html', I18n.locale) %></li>
            <li class="margin-xstop"><%= link_to 'Dentistas', extensions[:i18n].localized_path('/dentistas.html', I18n.locale) %></li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><b>NOSOTROS</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Equipo', extensions[:i18n].localized_path('/about.html', I18n.locale)%></li>
            <li class="margin-xstop"><%= link_to 'Preguntas Frecuentes', extensions[:i18n].localized_path('/faq.html', I18n.locale) %></li>
            <li class="margin-xstop"><a href="http://www.ecaresoft.com/" target="__blank">Sobre Ecaresoft</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <p><b>CONTACTO</b></p>
          <ul class="list-group">
            <li><a href="mailto:hola@nimbo-x.com">hola@nimbo-x.com</a></li>
            <li><a href="mailto:soporte@nimbo-x.com">soporte@nimbo-x.com</a></li>
          </ul>
          <a href="https://www.facebook.com/nimboxECE" target="__blank"><img class="img-30"src="/img/facebook2.png"></a>
          <a href="https://twitter.com/nimbo_x" target="__blank"><img class="img-30" src="/img/twitter2.png"></a>
          <a href="https://www.instagram.com/nimbo.x/" target="__blank"><img class="img-30" src="/img/instagram2.png"></a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 966535395;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966535395/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  </div>
