---
title: Precios y Planes | Nimbo X
path: /precios/
path_en: /pricing/
---

<!--Precios-->

<div class="precios producto-header" id="precios">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 align-center">
        <h2><b>Precios</b></h2>
        <h4><b><span class="text-teal">Nimbo X es gratis para médicos particulares en su versión básica.</span></b></h4>
        <p>Si quieres usar Nimbo X como herramienta de colaboración con más médicos dentro de tu organización puedes adquirir nuestra licencia para organizaciones a un bajo costo.</p>
        <hr>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-md-10 col-md-offset-1">
    <!--NimboX Org-->
        <div class="col-md-4 margin-top">
          <div class="box-orange">
            <div class="row margin-top">
              <div class="col-md-10 col-md-offset-1 align-center">
                <span class="text-lightGray">
                  <h5><b>PLAN ORGANIZACIONES</b></h5>
                </span>
                <br>
                <p class="price-text"><span class="text-orange">
                  <span>$<%= t(:org_price) %></span>
                  <br>
                  <sub><%= t(:currency) %></sub></span>
                </p>
                <p id="price-monthly">Suscripción anual por médico</p>
                <div class="margin-top"></div>
              </div>
            </div>
          </div>
        </div>
    <!--NimboX GOLD-->
        <div class="col-md-4 margin-top">
          <div class="box-purple">
            <div class="row margin-top">
              <div class="col-md-10 col-md-offset-1 align-center">
                <span class="text-lightGray">
                  <h5><b>NIMBO X GOLD</b></h5>
                </span>
                <br>
                <p class="price-text"><span class="text-purple">
                  <span>$<%= t(:gold_price) %></span>
                  <br>
                  <sub><%= t(:currency) %></sub>
                  </span>
                </p>
                <p id="price-monthly">Suscripción anual</p>
                <div class="margin-top"></div>
              </div>
            </div>
          </div>
        </div>
    <!--NimboX-->
        <div class="col-md-4 margin-top">
          <div class="box-blue">
            <div class="row margin-top">
              <div class="col-md-10 col-md-offset-1 align-center">
                <span class="text-lightGray">
                  <h5><b>PLAN GRATIS</b></h5>
                </span>
                  <br>
                <p class="price-text">
                  <span class="text-teal">$0
                  <br>
                  <sub><%= t(:currency) %></></sub></span>
                </p>
                <p id="price-monthly">Suscripción anual</p>
                <div class="margin-top"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered margin-top">
              <tr>
                <td>Expediente Clínico Electrónico</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>500MB de almacenamiento</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>Agenda Médica</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>Receta Médica</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td><img class="img-15 img-center" src="/img/check-blue.png"></td>
              </tr>
              <tr>
                <td>1GB de almacenamiento</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Pacientes ilimitados</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Interacciones entre Medicamentos</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Gráficas de Signos Vitales</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Métricas de Uso</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Cuenta Asistente </td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Recordatorios a pacientes</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Portal para citas</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Configuración por especialidad</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td><img class="img-15 img-center" src="/img/check-purple.png"></td>
                <td></td>
              </tr>
              <tr>
                <td>Expediente Centralizado</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Administración de Usuarios</td>
                <td><img class="img-15 img-center" src="/img/check-orange.png"></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>     
      </div>
    </div> 
  </div>
</div>

<!--Banner-->

<div class="back-imgblue">  
  <div class="container">
    <div class="row margin-xstop margin-smallbottom">
      <div class="col-md-12 align-center">
        <h3><span class="text-white">¿Tienes alguna duda?</span></h3>
        <h4 class="margin-smallbottom"><span class="text-white">Contáctanos para más información.</span></h4>
        <a class="btn-stroke-white" data-toggle="modal" data-target="#modal-about"href="#">Contáctanos</a>
      </div>
    </div>
  </div>
</div>
