<!--Footer-->

 <div class="footer">
    <div class="container">
      <div class"row">
        <div class="col-md-3">
          <img class="img-100" src="/img/logo-white.png">
          <p class="margin-smalltop"><span class="text-teal">At Nimbo X we help health organizations have better control of their patients data and their business.</span></p>
          <p class="margin-smalltop">A product of Ecaresoft Inc.<br>
          © 2017 All Rights Reserved.<br>
          Made with ❤ in house.</p>
        </div>
        <div class="col-md-2">
          <p><b>EXPLORE</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Home', '/index.html' %></li>
            <li class="margin-xstop"><%= link_to 'Product', './features.html' %></li>
            <li class="margin-xstop"><%= link_to 'Prices', './pricing.html' %></li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><b>SOLUTIONS</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Physicians', './features.html'%></li>
            <li class="margin-xstop"><%= link_to 'Clinics', './clinics.html' %></li>
            <li class="margin-xstop"><%= link_to 'Physicians Groups', './physician-groups.html' %></li>
          </ul>
        </div>
        <div class="col-md-2">
          <p><b>ABOUT US</b></p>
          <ul class="list-group">
            <li class="margin-smalltop"><%= link_to 'Team', './about.html'%></li>
            <li class="margin-xstop"><%= link_to 'FAQ', './faq.html' %></li>
            <li class="margin-xstop"><a href="http://www.ecaresoft.com" target="__blank">About Ecaresoft</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <p><b>CONTACT US</b></p>
          <ul class="list-group">
            <li><a href="mailto:hello@nimbo-x.com">hello@nimbo-x.com</a></li>
            <li><a href="mailto:support@nimbo-x.com">support@nimbo-x.com</a></li>
          </ul>
          <a href="https://www.facebook.com/nimboxECE" target="__blank"><img class="img-30" src="/img/facebook2.png"></a>
          <a href="https://twitter.com/nimbo_x" target="__blank"><img class="img-30" src="/img/twitter2.png"></a>
          <a href="https://www.instagram.com/nimbo.x/" target="__blank"><img class="img-30" src="/img/instagram2.png"></a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 966535395;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966535395/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  </div>
